body {
    background-image: url("./Images/pexels-chait-goli-1796730.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

#aboutmephoto {
  width: 230px;
  height: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
 
}

#navbarname {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
}
main {
  background-color: white;
  margin-top: 50px;
}

.newfont {
  font-family: 'Shadows Into Light', cursive;
  color: grey
}
.submit-btn {
  margin: 10px;
  background-color: darkgrey;
  color:black;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px; 
}
